

#clickme {
    background-color: black;
    color: #ffffff;
}

#noclickme{
    background-color: #f5ff12;
}


#clickme, #noclickme {
    font-size: 28px;
    font-family:  Helvetica, "Times New Roman", sans-serif
}