/* this is some magical font-importing.  
you'll learn about it later. */
@import url("https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap");

body {
    margin: 0;
    background: #eee;
    font-family: Besley, serif;
    height: 100vh;
    overflow: hidden;
}

.header {
    background: white;
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    display: flex;
    gap: 16px;
    justify-content: space-between;
    padding: 8px;
    align-items: center;
}

.profile-image {
    background: #5596f0;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    width: 48px;
    height: 48px;
}

.logo {
    color: #5596f0;
    font-size: 32px;
    font-weight: 900;
    font-style: italic;
}

button {
    border: none;
    border-radius: 8px;
    background: #5596f0;
    color: white;
    padding: 8px 24px;
}

a {
    /* this removes the line under our links */
    text-decoration: none;
    color: #5596f0;
}

.left_side ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    padding: 0;
}

.right_side {
    display: flex;
    gap: 16px;
    justify-content: flex-end;
}

.left_side {
    display: flex;
    gap: 16px;
    justify-content: flex-start;
}

.content {
    display: flex;
    flex-direction: row;
    height: calc(100vh - 87px)
}

.gallery {
    display: flex;
    flex-direction: row;
    flex: 3 1 600px;
    gap:20px;
    overflow-y: scroll;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1 1 400px;
    padding: 20px;
    border: 2px solid grey;
    margin: 10px;
    border-radius: 10px;
    
}


#h2o{
    object-fit: contain;
    width: 45px;
    height: 46px;
}
 
.item{
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: flex-end;
    flex: 1 1 200px;
}


.column{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap:20px;
}


.image{
    max-width: 100%;
    height: auto;
    flex: 1 1 200px;
    
}


.label{
    
}



#profilepic{
    width:100%; 
}

#more-info{
    background-color: lightgray;
    width:100%;
    height: 200px;
    border-radius: 15px;
} 

#d-kirkland{
    display: flex;
    flex-direction: column;
    align-self: center;
}



#rank{
    background-color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-around;
    width:50%;
    height: auto;
    border-radius: 7px;
}
    
#rankbox{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-content: flex-start;
    background-color: lightgrey;
    width:50%;
    height: 280px;
    border-radius: 7px;
}

#page2{
    display: flex;
    flex-direction: row;
    gap: 3px;
    border: 5px solid black;

}

.class{
    font-size: 10px;
    color:black;
}